/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 100%;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

article {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  overflow-wrap: break-word;
}
